/*Universal classes*/
.bg-lightgray {
    background-color: lightgray;
}
a{
    text-decoration: none !important;
}
body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif
}

a:hover{
    text-decoration: none !important;
}
.bg-black{
    background-color: rgb(0, 0,0);
}

/*Main Container Styles*/
#main-container {
    background-color: lightgray;
}

/*Main Header Styles*/
i {
    border-radius: 25px;
}

i:hover {
    transition-property: background-color, color;
    transition-duration: 1s;
    background-color: rgba(255, 255, 255, 1);
    color: black;
}

#main-header img {
    width: 100%;
    height: 100%;
}

#main-header .port-item {
    width: 30%;
}

#main-header .port-item:hover {
    cursor: pointer;
}

/*Media queries*/

@media (min-width: 992px) {
    .port-item{
        padding-top: 2.14em !important;
        padding-bottom: 2.14em !important;
    }
}

@media (min-width: 1199px) {
    .port-item{
        padding-top: 4.64em !important;
        padding-bottom: 4.64em !important;
    }
}