.mycontainer {
  position: relative;
  margin-bottom: 15px;
  /*width: 50%;*/
}
.hide{
  display: none;
}
body{
  background-color: #009473;
  color: #FCAF3C;
  font-family: 'Libre Baskerville', serif;
  font-size: 150%;
}
hr{
  color: #FCAF3C !important;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  border: 0;
  border-top: 5px solid #FCAF3C;
}
/* .wave{
  height: 10vh;
  background-color: # !important;
} */
.content{
   position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  padding: 30vh 5vw;

}
#portfolio{
  max-width: 100vw;
  padding: 30vh 5vw;
}
#about{
  max-width: 100vw;
  padding: 30vh 5vw;
}
.footer{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: unset;
  min-height: 15.5vh;
  padding: 0;
}
.about-break, .portfolio{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.foot {
fill: #C62368;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.about-break{
fill: #002233;
background-color: #009473;
}
.portfolio{
fill: #009473;
background-color: #F7770F;
}
.contact{
fill: #F7770F;
background-color: #C62368;
}

.contact {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.default{
  background-color: #009473 !important;
  color: #FCAF3C !important;
  border-bottom: 1px solid transparent !important;
}
.white{
  background-color: white;
}
.head{
  background-color: #002233;
}
.blue{
  background-color: #002233;
}
.red{
  background-color: #C62368;
}
.green{
  background-color: #009473;
}
.orange{
  background-color: #F7770F;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.mycontainer:hover .image {
  opacity: 0.3;
}

.mycontainer:hover .middle {
  opacity: 1;
}

.text {
 /* background-color: #4CAF50;
  color: white;*/
  font-size: 16px;
  padding: 16px 32px;
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.mylink{
  text-decoration: none;
}
.mylink:hover{
  text-decoration: none;
}